BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 8
TabWidth: 8
ColumnLimit: 120
BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
QualifierAlignment: Custom
QualifierOrder: [inline, static, constexpr, type, const, volatile]
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
SortUsingDeclarations: true
ReflowComments: true
BreakConstructorInitializers: AfterColon
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements
IndentPPDirectives: None
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
BinPackArguments: false
BinPackParameters: false
